.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  height: 100px;
}

.footer {
  height: 100px;
  background: var(--main--background-linear);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
}

// .sidebar {
//   width: 308px;
//   height: 100%;
//   margin-right: 6px;
// }

// .content {
//   width: 100%;
//   height: 100%;
//   border-radius: var(--main-border-radius);
// }

@media (max-width: 1280px) {
  .sidebar {
    display: none;
  }
}
