.wrapper {
  width: 100%;
  height: 100%;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  background-color: var(--main-move-color);
}

.container {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.4rem;
  color: rgba(12, 12, 20, 1);
  margin-bottom: 16px;
}

.insert {
  height: 97px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-size: 1rem;
  color: rgba(12, 12, 20, 1);
  margin-bottom: 6px;
}

.box {
  width: 340px;
  height: 40px;
  background-color: rgba(12, 12, 20, 1);
  border-radius: var(--main-border-radius);
  border: var(--main-border);
  position: relative;
}

.frame {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  padding: 0 6px 0 6px;
  background-color: rgba(12, 12, 20, 0.8);
  color: var(--main--text-color);
  border-radius: var(--main-border-radius);
  position: absolute;
}

.submit-bg {
  width: 340px;
  height: 60px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.submit-button {
  width: 100px;
  height: 40px;
  margin: 8px;
  background-color: rgba(12, 12, 20, 1);
  border-radius: var(--main-border-radius);
  border: var(--main-border);
  cursor: pointer;

  &:hover {
    background-color: rgba(12, 12, 20, 0.8);
  }
}

.submit-text {
  font-size: 0.8rem;
  color: var(--main--text-color);
}

.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification {
  color: rgba(12, 12, 20, 1);
  font-size: 1.4rem;
  text-align: center;
}

.action {
  margin-top: 12px;
  color: rgba(12, 12, 20, 1);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.bold {
  font-size: 1.6rem;
}
