.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.back {
  width: 40px;
  height: 40px;
  margin: 15px;
  background-color: var(--main-move-color);
  border: var(--main-border);
  border-radius: 999px;
  margin: 10px;
  transform: translateY(-87px);
  position: relative;
}

.arrow-left {
  width: 25px;
  height: 25px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  margin: 15px 0;
  display: flex;
}

.avatar-frame {
  width: 210px;
  height: 210px;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  display: flex;
  position: relative;
}

.default-avatar {
  width: 100%;
  height: 100%;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
}

.avatar-0,
.avatar-1,
.avatar-2,
.avatar-3,
.avatar-4 {
  width: 105px;
  height: 105px;
  object-fit: cover;
  position: absolute;
}

.avatar-0 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
}

.avatar-1 {
  border-top-left-radius: var(--main-border-radius);
}

.avatar-2 {
  right: 0;
  border-top-right-radius: var(--main-border-radius);
}

.avatar-3 {
  bottom: 0;
  border-bottom-left-radius: var(--main-border-radius);
}

.avatar-4 {
  right: 0;
  bottom: 0;
  border-bottom-right-radius: var(--main-border-radius);
}

.player-func {
  margin-left: 30px;
}

.info {
  margin: 76px 0 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playlist-name {
  height: 100%;
  font-size: 1.8rem;
  padding-left: 8px;
}

.playlist-description {
  height: 100%;
  font-size: 1.2rem;
  padding-left: 8px;
  margin-bottom: 8px;
  opacity: 0.6;
}

.actions {
  width: 140px;
  display: flex;
  align-items: center;
}

.player {
  height: 30px;
  position: relative;
}

.functions {
  width: 188px;
  height: 52px;
  display: flex;
  justify-content: end;
  align-items: center;
  transform: translateY(-11px);
}

.func {
  height: 35px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.edit {
  color: var(--main-move-color);
  width: 25px;
  height: 30px;
}

.remove {
  color: var(--main-move-color);
  width: 30px;
  height: 30px;
}

@media (min-width: 938px) and (max-width: 1390px) {
  .back {
    margin: 10px;
    transform: translateY(-66px);
  }

  .info {
    position: relative;
    margin: 47px 0 8px 0;
  }

  .avatar-frame {
    width: 170px;
    height: 170px;
  }

  .avatar-0,
  .avatar-1,
  .avatar-2,
  .avatar-3,
  .avatar-4 {
    width: 85px;
    height: 85px;
  }

  .playlist-name {
    font-size: 1.6rem;
  }

  .playlist-description {
    font-size: 1rem;
  }
}

@media (min-width: 902px) and (max-width: 938px) {
  .back {
    transform: translateY(-87px);
  }

  .info {
    margin: 93px 0 8px 0;
  }

  .playlist-name {
    font-size: 1.4rem;
  }

  .playlist-description {
    font-size: 1rem;
  }
}

@media (max-width: 901px) {
  .back {
    transform: translateY(-87px);
  }

  .info {
    margin: 60px 0 8px 0;
  }

  .playlist-name {
    font-size: 1.3rem;
  }

  .playlist-description {
    font-size: 0.9rem;
  }

  .avatar-frame {
    width: 140px;
    height: 140px;
  }

  .avatar-0,
  .avatar-1,
  .avatar-2,
  .avatar-3,
  .avatar-4 {
    width: 55px;
    height: 55px;
  }
}
